[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adductomicsR"]
	path = adductomicsR
	url = https://github.com/josielhayes/adductomicsr
